@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&family=Poppins:ital,wght@1,100&display=swap');

body{
    border: 2px solid black;
    width: 400px;
    height: 600px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
}
#image{
    padding-top: 30px;
    width: 350px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

}

p{
font-size: 22px;
font-family: 'Oswald', sans-serif;
}
 
section{
    margin-top: 20px;
    color: aliceblue;
     
}


#twitter{
    width: 60px;
    padding: 5px;
}

#linkdin{
    width: 60px;
    padding: 5px;

}

#facebook{
    width:60px;
 border-radius: 50px;
 padding-top: 2px;
 padding-bottom: 6px;
     
 }

 footer{
    color: aliceblue;
    background-color: black;
  height: 50px;
  font-size: 30px;
 
}